@model TaskRobo.Models.AppUser
@{
    ViewBag.Title = "Login";
}
    <link href="~/Content/Site.css" rel="stylesheet" />
<h2 style="text-align:center">Login</h2>

@{ 
    if(ViewBag.Invalid != null)
    {
        <h3>@ViewBag.Invalid</h3>
    }
}

<div class="main-register-form">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "FormLogin" }))
    {
        <div class="form-group">
            @Html.LabelFor(a => a.EmailId, new { @class = "col - sm - 2 col - form - label col - form - label - lg" })
            @Html.TextBoxFor(a => a.EmailId, new { @class = "form-control col-7", @id = "EmailId", @name = "EmailId" })
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Password, new { @class = "col - sm - 2 col - form - label col - form - label - lg" })
            @Html.PasswordFor(a => a.Password, new { @class = "form-control col-7", @id = "Password", @name = "Password" })
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    }
</div>

@section scripts{
    <script src="~/Scripts/Custom.js"></script>
    }